[mysqld]
ssl-ca=/etc/mysql/conf.d/ca.pem
ssl-cert=/etc/mysql/conf.d/server-cert.pem
ssl-key=/etc/mysql/conf.d/server-key.pem
default-authentication-plugin=mysql_native_password
collation-server = utf8_unicode_ci
character-set-server = utf8

session_track_gtids=1
enforce_gtid_consistency=ON
gtid_mode=ON
log_slave_updates=ON
transaction_write_set_extraction=XXHASH64
binlog_checksum=NONE
master-info-repository=TABLE
relay-log-info-repository=TABLE
plugin_load_add='group_replication.so'
relay_log_recovery=ON
loose-group_replication_group_name="aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa"
#loose-group_replication_start_on_boot=OFF
loose-group_replication_single_primary_mode=OFF
loose-group_replication_member_expel_timeout=360